.container {
    width: 80%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.login-form {
    width: 40%;
    margin: auto;
    padding: 30px;
}

.login-buttons {
    width: 50%;
    margin: auto;
}