{% extends "admin/adminbase.html" %} {% block content %} {% from "admin/_formhelpers.html" import render_field %}
<div class="login-form z-depth-2">
    <div class="row">
        <h3 class="center-align">Edit Book</h3>
    </div>
    {% if failure %}
    <p class=errors><strong>Error:</strong> {{ failure }}</p>
    {% endif %}
    <form action="{{ url_for('admin.editbook', id=book.id) }}" method="post">
        <div class="col m6 s12">
            <dl>
                {{ render_field(form.title) }} 
                {{ render_field(form.author) }} 
                {{ render_field(form.isbn) }} 
                {{ render_field(form.category) }} 
                {{ render_field(form.quantity) }}
            </dl>
        </div>
        <div class="row">
            <div class="login-buttons">
                <div class="col s12">
                    <button class="waves-effect waves-light btn" id="add-book">Add Book</button>
                </div>
            </div>
        </div>
        {{ form.csrf_token }}
    </form>
</div>
{% endblock %}