{% extends "admin/adminbase.html" %} {% block content %}
<div class="container">
    <h3 class="center-align"> Borrowed Books List</h3>
    {% if message %}
    <p class=errors><strong>Error:</strong> {{ message }}</p>
    {% endif %}
    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th data-field="id">Book Title</th>
                <th data-field="name">First Name</th>
                <th data-field="price">Email</th>
                <th data-field="role">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in borrowed %} {% for book in books %} {% if borrow.bookid == book.id %}
            <tr>
                <td>{{ book.title }}</td>
                {% for borrowed_user in users %}{% if borrow.userid == borrowed_user.id %}
                <td>{{ borrowed_user.firstname }}</td>
                <td>{{ borrowed_user.email }}</td>
                {% endif %} {% endfor %}
                <td>{{ borrow.timeborrowed }}</td>

            </tr>
            {% endif %} {% endfor %} {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}