{% extends "admin/adminbase.html" %} {% block content %}
<div class="container">
    <h3 class="center-align"> Borrowed Books List</h3>
    {% if message %}
    <p class=errors><strong>Error:</strong> {{ message }}</p>
    {% endif %}
    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th data-field="id">Book Title</th>
                <th data-field="name">First Name</th>
                <th data-field="price">Email</th>
                <th data-field="role">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in borrowed %}
            <tr>
                <td>{{ borrow.books.title }}</td>
                <td>{{ borrow.users.firstname }}</td>
                <td>{{ borrow.users.email }}</td>
                <td>{{ borrow.timeborrowed }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}