{% extends "public/base.html" %} {% block content %}
<div class="container">
    <div class="row">
        {% for book in books %}
        <div class="col s6 m3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ book.title[0:20] }}</span>
                    <p><strong>Author : </strong> {{ book.author }}
                    </p>
                    <p><strong>Category : </strong> {{book.category.name }}
                    </p>
                    <p><strong>ISBN : </strong> {{ book.isbn }}
                    </p>
                    <p><strong>Quantity :</strong><span id="quantity{{book.id}}" class="quantity">{{ book.quantity}}</span>
                    </p>
                </div>
                {% if book.status == 'false' %}
                <div class="card-action">
                    <a href="#{{book.id}}b" class="modal-trigger">Return Book</a>
                </div>
                {% else %}
                <div class="card-action">
                    <a href="#{{book.id}}a" class="modal-trigger">Borrow Book</a>
                </div>
                {% endif %}
                <div id="{{book.id}}a" class="modal">
                    <div class="modal-content">
                        <h4>Borrow Book</h4>
                        <p>You are about to borrow this book.</p>
                        <p>The book should be returned within seven(7) days after which a surcharge of $1.5 will be added every passing day
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button data-book-id="{{book.id}}" class="borrow-btn modal-action modal-close waves-effect waves-green btn-flat">Borrow</button>
                    </div>
                </div>
                <div id="{{book.id}}b" class="modal">
                    <div class="modal-content">
                        <h4>Return Book</h4>
                        <p>You are about to return this book.</p>
                        <p>You will not be able to read this book once it is returned
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button data-book-id="{{book.id}}" class="return-btn modal-action modal-close waves-effect waves-green btn-flat">Return</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}