{% extends "public/base.html" %} {% block content %}
<div class="container">
    <h3 class="center-align"> List of Books </h3>
    {% if failure %}
    <p class=errors><strong>Error:</strong> {{ failure }}</p>
    {% endif %}
    <div class="row">
        {% if success %}
        <p class=errors><strong>Congrats:</strong> {{ success }}</p>
        {% endif %} {% for book in books %}
        <div class="col s6 m3">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ book.title[0:20] }}</span>
                    <p><strong>Author : </strong> {{ book.author }}
                    </p>
                    {% for category in categories %} {% if category.id == book.categoryid %}
                    <p>
                        <starong>Category : </strong>
                            {{ category.name }}
                    </p>
                    {% endif%} {% endfor %}
                    <p><strong>ISBN : </strong> {{ book.isbn }}
                    </p>
                    <p><strong>Quantity :</strong> {{ book.quantity}}
                    </p>
                </div>
                <div class="card-action">
                    <a href="#{{book.id}}a" class="modal-trigger">Borrow Book</a>
                </div>
                <div id="{{book.id}}a" class="modal">
                    <div class="modal-content">
                        <h4>Borrow Book</h4>
                        <p>You are about to borrow this book.</p>
                        <p>The book should be returned within seven(7) days after which a surcharge of $1.5 will be added every passing day
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{url_for('public.borrow', title=book.title)}}" class=" modal-action modal-close waves-effect waves-green btn-flat">Borrow</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}