{% extends "public/dashboardbase.html" %} {% block content %}
<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">
            <a href="#!user">
                {% if not user.imagepath %}
                <img class="rounded-image profile" src="{{user.avatar(user.email, 128)}}" />
                {% endif %}

                {% if user.imagepath %}
                <img class="rounded-image profile" src="{{user.imagepath}}" />
                {% endif %}
            </a>
            <a href="#!name"><span class="white-text name">{{user.firstname}} {{user.lastname}}</span></a>
            <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="waves-effect white-text" href="{{url_for('public.dashboard')}}">
            <i class="material-icons white-text">dashboard</i>Dashboard</a>
    </li>
    <li>
        <a class="waves-effect white-text" href="{{url_for('public.books')}}">
            <i class="material-icons white-text">book</i>Books</a>
    </li>
    <li>
        <a class="waves-effect white-text" href="{{url_for('public.profile')}}">
            <i class="material-icons white-text">settings</i>Profile Settings</a>
    </li>
    <li>
        <a class="waves-effect white-text" href="{{url_for('public.logout')}}">
            <i class="material-icons white-text">exit_to_app</i>Log out</a>
    </li>
</ul>
<h3 class="center-align">List of Borrowed Books</h3>
<h4 class="center-align"><span id="response"></span></h4>
<div class="row">
    <table class="striped centered responsive-table">
        <thead>
            <tr>
                <th data-field="id">Book Title</th>
                <th data-field="name">First Name</th>
                <th data-field="price">Book ISBN</th>
                <th data-field="role">Date Borrowed</th>
                <th data-field="role">Date Returned</th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in user_borrowed %}
            <tr>
                <td>{{ borrow.books.title }}</td>
                <td>{{ borrow.books.author }}</td>
                <td>{{ borrow.books.isbn }}</td>
                <td>{{ borrow.timeborrowed }}</td>
                {% if not borrow.timereturned %}
                <td>Not returned</td>
                {% else %}
                <td>{{borrow.timereturned}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}