<!DOCTYPE html>

<head>
    <title>{{title}} - Library Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/materialize.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js')}}"></script>
</head>

<body>
    <header style="padding-left:300px;">
        <nav class="lime lighten-2">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{{ url_for('public.index')}}" class="brand-logo"> BOOKIE'S HUB </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">

                        <li><a href="{{ url_for('public.index')}}">HOME</a></li>
                        <li><a href="{{ url_for('public.books')}}">BOOKS</a></li>
                        {% if g.user.is_authenticated == False %}
                        <li><a href="{{ url_for('public.login')}}">LOG IN</a></li>
                        {% endif %} {% if g.user.is_authenticated %}
                        <li>
                            <a class="dropdown-button" href="#!" data-activates="dropdown-home-menu">
                                {% if not user.imagepath %}
                                <img class="circle header-profile" src="{{user.avatar(user.email, 36)}}" />
                                <i class="material-icons right">arrow_drop_down</i>
                                {% endif %}

                                {% if user.imagepath %}
                                <img class="circle header-profile" src="{{user.imagepath}}" />
                                <i class="material-icons right">arrow_drop_down</i>
                                {% endif %}
                            </a>
                            <ul id="dropdown-home-menu" class="dropdown-content active" style="top: auto;">
                                <li><a href="{{ url_for('public.dashboard')}}">Dashboard</a></li>
                                <li><a href="#!">Profile Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('public.logout')}}">LOGOUT</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main style="padding-left: 300px;">
        {% block content %} {% endblock %}
    </main>
    <footer class=" page-footer blue-grey darken-3" style="padding-left:300px;">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col s7 push-s5">
                    <p class="right-align"> Designed by Vonj Designs <span>08138120185</span></p>
                </div>
                <div class="col s5 pull-s7">
                    <p class="left-align"><i class="small material-icons">copyright</i>2016 All rights reserved. </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>