{% extends "public/loginbase.html" %} {% block content %} {% from "public/_formhelpers.html" import render_field %}
<main>
    <div class="container">
        <div class="login-form z-depth-2">
            <div class="row">
                <h3 class="center-align">Login Form</h3>
            </div>
            {% if failure %}
            <p class=errors><strong>Error:</strong> {{ failure }}</p>
            {% endif %}
            <form action="{{ url_for('public.login') }}" method="post">
                <div class="col m6 s12">
                    <dl>
                        {{ render_field(form.email) }} {{ render_field(form.password) }}
                    </dl>
                </div>
                <div class="row">
                    <div class=" center-align login">
                        <button class="waves-effect waves-light btn" id="login">login</button>
                        <p class="center-align"><a href="{{ url_for('public.register')}}" id="signup">Or create an account?</a></p>
                    </div>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
</main>
{% endblock %}