<!DOCTYPE html>

<head>
    <title>{{title}} - Library Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/materialize.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js')}}"></script>
    <script>
        // $(document).ready(function(){
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            if (response.status === 'connected') {
                testAPI();
            } else if (response.status === 'not_authorized') {
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            } else {
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into Facebook.';
            }
        }

        function loginFacebook() {
            FB.login(function(response) {
                statusChangeCallback(response);
            }, {
                scope: 'public_profile,email'
            });
        }

        window.fbAsyncInit = function() {
            FB.init({
                appId: '1205949532779825',
                cookie: true,
                xfbml: false,
                version: 'v2.5' // use graph api version 2.5
            });
        };
        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', {
                    locale: 'en_US',
                    fields: 'name, email, id'
                },
                function(response) {
                    console.log(response)
                    console.log(response.email)
                    console.log(response.id)
                    console.log('Successful login for: ' + response.name);
                    document.getElementById('status').innerHTML =
                        'Thanks for logging in, ' + response.name + '!';
                    $.ajax({
                        type: "POST",
                        url: "/social/login",
                        data: JSON.stringify(response),
                        contentType: 'application/json;charset=UTF-8',
                        success: function(result) {
                            console.log(result);
                            window.location.href = "{{url_for('public.dashboard')}}"
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });
        }
        // });
    </script>

</head>

<body>
    <header>
        <nav class="lime lighten-2">
            <div class="nav-wrapper container">
                <a href="{{ url_for('public.index')}}" class="brand-logo center"> BOOKIE'S HUB </a>
                <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('public.index')}}">HOME</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                    <li><a href="{{ url_for('public.index')}}">HOME</a></li>
                </ul>
            </div>
        </nav>
        <div style="margin: 10px;">
        </div>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer class=" page-footer blue-grey darken-3">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s7 push-s5">
                        <p class="right-align"> Designed by Vonj Designs <span>08138120185</span></p>
                    </div>
                    <div class="col s5 pull-s7">
                        <p class="left-align"><i class="tiny material-icons">copyright</i>2016 All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>