{% extends "public/dashboardbase.html" %} {% block content %} {% from "public/_formhelpers.html" import render_field %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#show-edit-form").on('click', function() {
            $("#edit-profile").removeClass("hidden");
            $('#show-profile').addClass('hidden');
        });
    });
</script>
<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">
            <!--<img class="background" src="{{ url_for('static', filename='img/librarypic.jpg') }}">-->
            <a href="#!user"><img class="rounded-image" src="{{user.avatar(user.email, 128)}}"></a>
            <a href="#!name"><span class="white-text name">{{user.firstname}} {{user.lastname}}</span></a>
            <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect white-text" href="{{url_for('public.books')}}"><i class="material-icons white-text">book</i>Books</a></li>
    <li><a class="waves-effect white-text" href="{{url_for('public.dashboard')}}"><i class="material-icons white-text">dashboard</i>Dashboard</a></li>
    <li><a class="waves-effect white-text" href="{{url_for('public.profile')}}"><i class="material-icons white-text">settings</i>Profile Settings</a></li>
    <li><a class="waves-effect white-text" href="{{url_for('public.logout')}}"><i class="material-icons white-text">exit_to_app</i>Log out</a></li>
</ul>
<div class="container">
    <div id="show-profile">
        <div class="row center-align">
            <img class="rounded-image" src="{{ user.avatar(user.email, 256)}}" />
            <p class="flow-text">First Name: {{ user.firstname }} </p>
            <p class="flow-text">Last Name: {{ user.lastname }} </p>
            <p class="flow-text">Email: {{ user.email }} </p>
            <button class="waves-effect waves-light btn purple" id="show-edit-form">Edit Profile</button>
        </div>
    </div>
    <div id="edit-profile" class="hidden z-depth-2">
        <div class="row">
            <h3 class="center-align">Edit Profile</h3>
        </div>
        {% if failure %}
        <p class=errors><strong>Error:</strong> {{ failure }}</p>
        {% endif %}
        <form action="{{ url_for('public.profile') }}" method="post">
            <div class="col m6 s12">
                <dl>
                    {{ render_field(form.firstname) }} 
                    {{ render_field(form.lastname) }} 
                </dl>
            </div>
            <div class="row">
                <div class="login-buttons">
                    <div class="col s12">
                        <button class="waves-effect waves-light btn purple" id="edit-profile-button">Submit</button>
                    </div>
                </div>
            </div>
            {{ form.csrf_token }}
        </form>
    </div>
</div>
{% endblock %}

