{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="login-form z-depth-2">
        <div class="row">
            <h3 class="center-align">Login Form</h3>
        </div>
        <form action="{{ url_for('login') }}" method="post">
            <div class="row">
                <div class="col s12 flow-text">
                    <label for="email" class="flow-text">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="col s12 flow-text">
                    <label for="password" class="flow-text">Password</label>
                    <input type="password" name="password" />
                </div>
            </div>
            <div class="row">
                <div class="login-buttons">
                    <div class="col s6">
                        <button class="waves-effect waves-light btn" id="login">login</button>
                    </div>
                    <div class="col s6">
                        <a type="button" class="waves-effect waves-light blue btn" href="" id="signup">Signup</a>
                    </div>
                </div>
            </div>
            {{ form.csrf_token }}
        </form>
    </div>
</div>
{% endblock %}