{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container">
    <div class="login-form z-depth-2">
        <div class="row">
            <h3 class="center-align">Registration Form</h3>
        </div>
        <form action="{{ url_for('register') }}" method="post">
            <!--<div class="row">-->
            <div class="col m6 s12">
                <dl>
                    {{ render_field(form.firstname) }}
                    {{ render_field(form.lastname) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm) }}
                </dl>
            </div>
            <div class="row">
                <div class="login-buttons">
                    <div class="col s6">
                        <button class="waves-effect waves-light btn" id="login">Register</button>
                    </div>
                </div>
            </div>
            {{ form.csrf_token }}
        </form>
    </div>
</div>
{% endblock %}